grant {
	permission java.security.AllPermission;
	permission org.elasticsearch.ThreadPermission "modifyArbitraryThreadGroup";
	permission java.lang.RuntimePermission "setDefaultUncaughtExceptionHandler";
};